.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin-bottom: 10px;
  }
  .cell {
    width: 100px;
    height: 100px;
    background-color: #eee;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
  }


.game {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 10px auto;
    color: #04c0b2;
     
}
.space{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 10px auto;
    color: #04c0b2;
}